.site-layout-content {
    min-height: 280px;
    background: #fff;
  }

.site-layout-background {
    background: #fff;
}


.dashboard-col{
  flex:"1 0 25%";
}

@media (max-width: 992px) {
  .dashboard-col {
    flex: 100% !important; 
  }
}